<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StocksApp</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>Welcome to Stock </h1>
    <h2>Created by Tarun Narahari and Neil Burman</h2>

    <h3>Search Up Stocks</h3> 
	    <ul> 
	        <li> Click Here to search up a Stock using its <a href="/watch">Ticker</a> </li> 
        </ul> 
        
        <hr> 
        
	    <h3>Access Account</h3> 
	    <ul> 
	        <li>To view your <a href="/watchlist">Watchlist</a> </li> 
        </ul> 
        
        <hr> 
        <h3>Clear DataBase</h3>
        <ul> 
	        <li>To Clear your DataBase <a href="/clearDB">Clear</a> </li> 
        </ul> 

</body>
</html>